.DS_Store
node_modules
/dist
docs/.vitepress

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Local Netlify folder
.netlify
stats.html
.env
.npmrc
docs/.vitepress/dist/404.html
docs/.vitepress/dist/api.html
docs/.vitepress/dist/guide.html
